@* <Router AppAssembly="typeof(Program).Assembly"> *@
@*     <Found Context="routeData"> *@
@*         <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" /> *@
@*         <FocusOnNavigate RouteData="routeData" Selector="h1" /> *@
@*     </Found> *@
@* </Router> *@

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                <NotAuthorized>
                    @if (!context.User.Identity.IsAuthenticated)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <p>您無權存取此頁面。</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>未找到頁面</PageTitle>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <p role="alert">抱歉，此頁面不存在。</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    private class RedirectToLogin : ComponentBase
    {
        [Inject] private NavigationManager NavigationManager { get; set; }

        protected override void OnInitialized()
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}