@using System.Security.Claims

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <p>您需要登入才能存取此頁面。</p>
                        <LoginForm />
                    }
                    else
                    {
                        <p>您沒有權限存取此頁面。</p>
                    }
                </NotAuthorized>
                <Authorizing>
                    <p>認證中...</p>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>找不到頁面</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">抱歉，找不到此頁面。</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>